<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="BingKey" value="BingKey"/>
    </appSettings>
    <connectionStrings>
        <add name="DB" connectionString="DBConnectionString"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
